 h1 {
    
    color: cornflowerblue;
 }
 
 body{
    background-color: black;
    text-align: center;
 }
 button{
    background-color: indigo;
    color: aquamarine;
    font-size: 20px;
 }
 img{
    height: 350px;
 }

