<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/consultstyle.css">
    <script src="/static/js/consultapp.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Consultar</h1> 
    <div>
        <label> ID </label> <input type="number" id = "id" > <br> <br>
        <textarea id="txt.data">   </textarea> <br> <br>
        <button onclick = "consult_user()"> Consultar </button> </button> 
    </div>
</body>
</html>